{% extends 'main/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block header %}
<div class="header_container">
    <ul class="header_container_ul">
        <li><a href="/home" class="header_container_ul_li">Главная</a></li>
    </ul>
</div>
{% endblock %}

{% block main %}

<main>
    <div class="wrap-login100">
        <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
            <span class="login100-form-title">Sign Up</span>
         <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
             {{ user_form.as_p }}
        </div>
        <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">Sign Up</button>
        </div>
        </form>
    </div>
</main>

{% endblock %}