{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
<div class="header_container">
    <ul class="header_container_ul">
        <li><a href="/home" class="header_container_ul_li">Главная</a></li>
    </ul>
    {%if user.is_authenticated %}
        <div class="header_container_button">
            <p>{{ user.username }}</p>
            <a href="{% url 'logout' %}">Выход</a>
        </div>
    {% else %}
         <div class="header_container_button">
            <a href ="{% url 'login' %}" class="header_container_button_click">Войти</a>
            <a href ="{% url 'signup' %}" class="header_container_button_click">Регистрация</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block main %}
<main>
    <form action="/home/parser" method="POST">
        {% csrf_token %}
        <div class="search-box">
            <input type="text" name="article" class="search-txt" placeholder="Поиск">
            <button type="submit" class="search-btn">Найти</button>
        </div>
    </form>
    <div id="result">
            {% for result in results %}
                {% for el in result %}
                    <div class="results">
                        <p>Статья: <a href="{{el.1}}">{{el.0}}</a></p>
                        <p>Доступ: {{el.2}}</p>
                        <p>Авторы: {{el.3}}</p>
                        <button v-on:click="add(['{{el.0}}','{{el.1}}','{{el.2}}','{{el.3}}'])">Добавить</button>
                    </div>
                {% endfor %}
            {% endfor %}
    </div>
</main>
<script>
new Vue({
  el: '#result',
  methods: {
    add: function (elements) {
      if (elements) {
        alert(elements)
      }
    }
  }
})
</script>
{% endblock %}


