{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}


{% block header %}
<div class="header_container">
    <ul class="header_container_ul">
        <li><a href="/home" class="header_container_ul_li">Главная</a></li>
    </ul>
    {%if user.is_authenticated %}
        <div class="header_container_button">
            <p>{{ user.username }}</p>
            <a href="{% url 'logout' %}">Выход</a>
        </div>
    {% else %}
         <div class="header_container_button">
            <a href ="{% url 'login' %}" class="header_container_button_click">Войти</a>
            <a href ="" class="header_container_button_click">Регистрация</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block main %}
<main>
    <div class="search-box">
        <input type="text" class="search-txt" placeholder="Поиск">
        <a href="#" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
</main>
{% endblock %}